

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Product List
    </h1>

</section>

<section class="content">
    @if (ViewBag.Error != null)
    {
    <div class="row">
        <div class="alert alert-danger alert-dismissible">
            <h4><i class="icon fa fa-ban"></i> Failed</h4>
          Deleted Failed!  
        </div>
    </div>
    }
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product List</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="productListTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>ProductName</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Photo</th>
                                <th>Quantity</th>
                                <th>Brand</th>
                                @*<th>Supplier</th>*@
                                @*<th>Category</th>*@
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in ViewBag.Products)
                            {
                            <tr>
                                <td>@product.ProductId</td>
                                <td>
                                    <b>@product.ProductName</b>
                                </td>
                                <td>@product.Description</td>
                                <td>@product.Price</td>
                                <td><img src="/products/@product.Photo" style="width:50px;height:50px;" /></td>
                                <td>@product.Quantity</td>
                                <td>@product.Brand</td>
                                @*<td>@(product.Supplier.CompanyName)</td>*@
                                @*<td> @(product.CategoryId)</td>*@

                                <td>
                                    <a asp-area="admin" asp-controller="product"
                                       asp-action="edit" asp-route-id="@product.ProductId">Edit</a> <span>|</span>

                                    <a asp-area="admin" asp-controller="product"
                                       asp-action="delete" asp-route-id="@product.ProductId" onclick="return confirm('Are you sure?')">Delete</a>

                                </td>

                            </tr>

                            }

                        </tbody>
               
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>

    </div>


</section>
<script>
    $(function () {
        $('#productListTable').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
